<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>tgsportsElements</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.reactjs.native.example.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Adelle bold italic.otf</string>
		<string>Adelle bold.otf</string>
		<string>Adelle extrabold italic.otf</string>
		<string>Adelle extrabold.otf</string>
		<string>Adelle heavy italic.otf</string>
		<string>Adelle heavy.otf</string>
		<string>Adelle italic.otf</string>
		<string>Adelle light italic.otf</string>
		<string>Adelle light.otf</string>
		<string>Adelle regular.otf</string>
		<string>Adelle Sans Bold Italic.otf</string>
		<string>Adelle Sans Bold.otf</string>
		<string>Adelle Sans ExtraBold Italic.otf</string>
		<string>Adelle Sans ExtraBold.otf</string>
		<string>Adelle Sans Heavy Italic.otf</string>
		<string>Adelle Sans Heavy.otf</string>
		<string>Adelle Sans Italic.otf</string>
		<string>Adelle Sans Light Italic.otf</string>
		<string>Adelle Sans Light.otf</string>
		<string>Adelle Sans Regular.otf</string>
		<string>Adelle Sans SemiBold Italic.otf</string>
		<string>Adelle Sans SemiBold.otf</string>
		<string>Adelle Sans Thin Italic.otf</string>
		<string>Adelle Sans Thin.otf</string>
		<string>Adelle semibold italic.otf</string>
		<string>Adelle semibold.otf</string>
		<string>Adelle thin italic.otf</string>
		<string>Adelle thin.otf</string>
	</array>
</dict>
</plist>
